/*===================== 
===== Basic Setup =====
=======================*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li{
    list-style-type: none;
}
/* Heading */
h1{
    font-size: 4.2rem;
    color: #fff;
    display: inline-block;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*============================
===== Reusable component =====
==============================*/

.row{
    max-width: 114rem;
    margin: 0 auto;
}
section{
    padding: 8rem 0;
}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing:0.3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;

}
h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.box{
    padding: 0 2%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff;
}

/* Button  */
.btn:link,
.btn:visited,
.btn{
    background: #333;
    border-bottom: .3rem solid #000;;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
  
}
/* Little description */
.little-des{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;

}



/* Sticky navigation */

.sticky{
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    background: #87509c;
    padding: 1rem 0;
    box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.726); 
  }
  
  .sticky .logo,
  .sticky .main-nav{
      margin-top: 0;
  }
  .hero-text-box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      width: 114rem;
  }
  
  .btn-hero:link,
  .btn-hero:visited{
      background: #eb7d4b;
      border-color: #c86a40;
  }






